@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #ffffff;
  --text-dark: #19356d;
  --max-width: 100%;
}

* {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 1rem;
  color: var(--text-dark);
  font-size: 18px;
}

body {
  margin: 8%;
  font-weight: 100;
  background-color: var(--primary-color);
  margin-bottom: 0%;
}

h1 {
  font-weight: 600;
  font-size: 5cap;
  color: var(--text-dark);
}

h2 {
  font-weight: 600;
  font-size: 2cap;
  padding-bottom: 0;
  padding-top: 2rem;
  color: var(--text-dark);
}

ul {
  padding-left: 3rem;
}

ul li {
  padding: 0;
  line-height: 1.7rem;
}

ol {
  padding-left: 3rem;
}

ol li {
  padding: 0;
  line-height: 1.7rem;
}

canvas {
  display: block;
  align-self: center;
}

.grid__container {
  display: grid;
  grid-template-columns: 600px 900px;
  gap: 2rem;
}

/* .grid_item {
  background-color: var(--primary-color);
} */
