@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

:root {
  --primary-color: #d5bdaf;
  --primary-color-dark: #4a4e69;
  --primary-color-light: #f5ebe0;
  --secondary-color: #ca8a04;
  --text-dark: #463f3a;
  --text-light: #4a4e69;
  --extra-light: #faf5ff;
  --max-width: 100%;
}

* {
  margin: 0;
  font-family: "M PLUS 2", sans-serif;
  font-weight: 400;
  padding: 1rem;
  color: var(--text-dark);
  font-size: 18px;
}

body {
  margin: 10%;
  font-weight: 100;
  background-color: var(--primary-color-light);
  margin-bottom: 0%;
}

h1 {
  font-weight: 400;
  font-size: 5cap;
}

h2 {
  font-weight: 600;
  font-size: 2cap;
  padding-bottom: 0;
  padding-top: 0rem;
}

ul {
  padding-left: 3rem;
}

ul li {
  padding: 0;
  line-height: 1.7rem;
}

canvas {
  display: block;
  align-self: center;
}

.grid__container {
  display: grid;
  grid-template-columns: 600px 900px;
  grid-template-rows: 800px 800px;
  gap: 2rem;
}

.grid_item {
  background-color: var(--primary-color);
}
